<section class="">
  <!-- Footer -->
  <footer class="bg-secondary text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Начни с себя.</h5>

          <p>
            Сервис предназначен для удобного внесения своих проектов и идей на общее рассмотрение и помощь в обращении в органам власти.
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Информация.</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="{% url 'about:author' %}" class="text-white">Об авторе</a>
            </li>
            <li>
              <a href="{% url 'about:tech' %}" class="text-white">Технологии</a>
            </li>
            <li>
              <a href="#!" class="text-white">Пользовательское соглашение</a>
            </li>
            <li>
              <a href="{% url 'about:instruction' %}" class="text-white">Инструкция</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Контакты.</h5>

          <ul class="list-unstyled">
            <li>
              <a class="text-white" href="tel:+79128009285"></i> + 7 912 800 92 85</a>
            </li>
            <li>
              <a class="text-white" href="mailto:knigencev2003@gmail.com" target="_blank">knigencev2003@gmail.com</a>
            </li>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p>© {{ year }} Copyright <span style="color:red">BWY</span></p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>